/*variables*/
:root{
	--color-grey: #393c41;
	--color-black: #414345;
	--color-white: #f5f5f5;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	width: 100%;
}

@keyframes animationDown{
	0%, 20%, 50%, 80%, 100%{
		transform: translateY(0);
	}

	40%{
		transform: translateY(6px);
	}

	60%{
		transform: translateY(4px);
	}
}

